@import 'config';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $light-color;
  font-family: $font-stack;
  line-height: 1.6;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.showcase {
  // background-color: $primary-color;
  // color: set-text-color($primary-color);
  @include set-background($primary-color); // That mixin replaces the 2 lines above
  height: 600px;

  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: set-text-color($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }
  }

  &-content { // the & means the same name as the parent, here "showcase". Our div having the class "showcase-content" we can use it here
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50%;
    }

    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

@import 'utilities'; // Utility classes
@import 'buttons'; // Button classes
@import 'mobile'; // Media queries